/*  DEFINICIÓN DE VARIABLES  */

:root{
    --color-principal:#FFF;
    --color-secondary: #04B4E0 ;

    --color-background: #f2f7f9;
    --color-transparent: transparent; 

    --color-icons: #b5b6b7;
    --color-titles: #222;
    --color-subtitle: #888;
    --color-text: #555;

    --color-border-reviews: #e5e6e7;
    --color-company: #a5a6a7;

    --color-scrollbar: #d3d3d3;
    --color-background-scrollbar: #eee;
}

/*  ESTILOS DE LA WEB */

html {
    font-size: 10px;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 1.5rem;
    background-color: var(--color-background);
    color:var(--color-text);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
      color: var(--color-titles)
}

/* IMAGEN DE FONDO */

body {
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: -2rem -12rem;
}

/*  ESTRUCTURA PRINCIPAL  */

.layout{
    position: relative;
    min-width: 1300px;
    width: 75%;
    height: 80vh;
    min-height: 80vh;
    margin: 10vh auto;

    display: grid;
    grid-template-areas: 
        "aside content";
    grid-template-columns: 30% 70%;
    
    border-radius: 14rem;
    box-shadow: 0 0 10rem -0.5rem rgba( 0, 0, 0, 0.25);

}

/*  BARRA LATERAL AZUL  */

.layout__aside {
    grid-area: aside;

    border-radius: 14rem 0 0 4rem;
    overflow: auto;
    overflow-x: hidden;
}

.aside__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    min-height: 100%;
    min-width: 30rem;

    background-color: var(--color-secondary);
    color:var(--color-principal);
}

.user-info__container-image {
    position: relative;
    display: inline-block;
    width: 18rem;
    margin-top: 7rem;
    z-index: 1;
}

.user-info__image {
    width: 100%;
    background-color: var(--color-principal);
    border: 4px solid var(--color-principal);
    border-radius: 20rem;  
}
   
.user-info__container-image::after{
    content: "";
    position: absolute;
    top:5%;
    left:9%;
    z-index: -1;
    border-radius: 30rem;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100% );
    background-size: 1rem 1rem;
    opacity: 0.6;
    
}

.user-info__name {
    margin-top: 3rem;
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--color-principal);
    margin-top: 3rem;
}

.user-info__job {
    font-size: 2rem;
    font-weight: 200;
    color: var(--color-principal)
}

 
.user-info__links {
    margin-bottom: 8rem;

}


.links__social {
    margin:2rem;

    text-align: center;
}


.social__option {

    height: 3rem;

    font-size: 3rem;
    color:white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2rem 0 2rem;


}

.social__icon {
    margin: 1rem;
}

.social__link {
    color:var(--color-principal);
    opacity: 0.6;
    line-height: 0;
    transition: all 0.2s ease-in-out;
}

.social__link:hover {
    opacity:1;

}

.user-info__buttons {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.user-info__btn {
    padding:3rem;
    padding-top:1.5rem;
    padding-bottom: 1.5rem;
    border: 2px solid var(--color-principal);
    border-radius: 3rem;
    color:var(--color-principal);
    box-shadow: 0 1rem 1rem -0.1rem rgba( 0, 0, 0, 0.25) ;
    transition: all 0.3s ease-in-out;
}

.user-info__btn:hover {
    background-color: var(--color-principal);
    color: var(--color-secondary);

}

.user-info__footer {
    position: absolute;
    bottom: 2rem;
    font-size: 1.2rem ;
}

 

 
/*  CONTENEDOR PRINCIPAL  */
 .layout__content {
    grid-area: content;
    background-color: var(--color-secondary) ;
    border-bottom-right-radius: 4rem;
    border-top-right-radius: 4rem;
    height: 100%;
    min-height: 100%;
}

 .content__page {
    
    min-height: 100%;
    background-color: var(--color-principal);
    border-radius: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 }

 .page__name {
    font-size: 5rem;
    margin-bottom: 2rem;
 }

 .page__job {
    font-size: 2.2rem;
    font-weight: lighter;
    color: var(--color-subtitle)
 }





 /* MENU NAVEGACIÓN LATERAL */
.layout__menu {
    display: block;
    position: absolute;
    top: 0;
    right: -13rem;
    min-width: 11rem;
    background-color: var(--color-transparent);
}

.menu__list {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center ;

    width: 60%;
    min-height: 32rem; 
    padding: 2rem 0;
    background-color: var(--color-principal);
    box-shadow: 0 0 3rem -.5rem rgba( 0, 0, 0, 0.25);
    border-radius: 4rem;
}

.menu__option {
    display:block;
    width: 100%;
    text-align: center;
}

.menu__option:hover .menu__icon,
.menu__link--active .menu__icon{
    color: var(--color-secondary);     
}

.menu__icon {
    color: var(--color-icons);
    font-size: 3rem;  
    transition: all 0.3s ease-in-out
}


.menu__overlay {
    position: absolute;
    right: 0;
    margin-top:-3rem;
    opacity: 0;
    padding: 0.5rem 1rem;
    color: var(--color-principal);
    display: block;
    background-color: var(--color-secondary);
    white-space: nowrap;
    z-index: 2;
    transition: all 0.5s cubic-bezier(0.18, 0.85, 0.71, 3.71); 
}

.menu__option:hover .menu__overlay {
    opacity: 1;
    right: 100%;
    border-radius: 1rem;
}

/* ESTILOS GENERALES ( SOBRE MI Y OTRAS PÁGINAS) */

.content__about,
.content__resume,
.content__portfolio,
.content__blog,
.content__contact {
    display: block;
    height: 100%;
    min-height: 100%;
    padding: 6rem;
    padding-right: 3rem;
    overflow: auto;
}

.about__header,
.resume__header,
.portfolio__header,
.blog__header,
.contact__header {
    display: inline-block;
    margin-bottom: 5rem;
}

.about__title,
.resume__title,
.portfolio__title,
.blog__title,
.contact__title {
    font-size: 4rem;
    position:relative; 
}

.about__title::after, 
.resume__title::after,
.portfolio__title::after,
.blog__title::after,
.contact__title::after {
    content:"";
    position: absolute;
    top:3rem;
    left: 15rem;
    width: 42px;
    height: 30px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.4;
}

.resume__title::after{
    left:20rem;
}

.portfolio__title::after {
    left: 16.5 rem;
}

.blog__title::after{
    left: 6rem;
}

.contact__title::after{
    left: 23rem;
}


.title__color,
.subtitle__color{
    color: var(--color-secondary); 
}

.about__personal-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5rem;
}

.personal-info__bio{
    flex-basis: 60%;
    padding-right: 2rem;
}

.personal-info__description{
     font-size: 2rem;
     line-height: 2rem;
     text-align: justify;
}

.personal-info__data{
    flex-basis: 40% ;
    padding: 1rem;
    padding-top: 0;;
}

.personal-info__option {
    margin-bottom: 2rem;
}

.personal-info__title {
    margin-right: 1rem;
    color: var(--color-secondary);
    font-weight: 600;
}


.about__services, 
.about__reviews,
.about__clients,
.about__prices,
.about__extra {
    width: 100%;
    margin-bottom: 4rem;
}

.about__clients {
    margin-top: 5rem;
}

.services__header,
.reviews__header,
.clients__header, 
.prices__header,
.extra__header,
.resume__subheader {
    display: inline-block;
    padding-right: 1.5rem;
    margin-bottom: 2.5rem;
    position: relative;
}

.services__title,
.reviews__title,
.clients__title,
.prices__title,
.extra__title,
.resume__subtitle {
    font-size: 3rem;
}


.reviews__title::after,
.clients__title::after,
.prices__title::after,
.extra__title::after,
.resume__subtitle::after {
    content:"";
    position: absolute;
    top:1.5rem;
    left: 18rem;
    width: 36px;
    height: 24px;
    background-image: -webkit-repeating-radial-gradient(center center, var(--color-secondary), var(--color-secondary) 1px, transparent 0px, transparent 100%);
    background-size: 6px 6px;
    opacity: 0.4;
}

.services__title::after{
    top: 1rem;
}

.reviews__title::after {
    left: 8rem;
}

.clients__title::after {
    left: 7rem;
}

.prices__title::after {
    left: -10rem;
}

.extra__title::after {
    left: 16rem;
}

.resume__subtitle::after {
    left: 30rem;
    top: 2rem;
}

.resume__subtitle::after {
    display: none;
}




.services__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.services__service {
    flex-basis: 45%;
    padding: 0 4rem 4rem 0;
    margin-right: 3rem;
    margin-bottom: 2.5rem;

}

.service__real-icon{
    color: var(--color-secondary);
    font-size: 4rem;
}

.service__title {
    font-size: 2rem;
    margin: 2rem 0;
}

.service__description {
    font-size: 1.5rem;
    text-align: justify;
}

/*  REVIEWS  */

.reviews__container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.reviews__review {
    flex-basis: 50%;

    border: 2px solid var(--color-border-reviews);
    border-radius: 2rem;
    padding: 0 3rem 2rem 3rem;
    margin-right: 3rem;
    margin-top: 5rem;;
}

.review__image-container {
    width: 100%;
    margin-bottom: 5rem;
}

.review__image {
    max-width: 9rem;
    max-height: 9rem;
    border-radius: 9rem;
    margin: 0 auto;
    margin-top: -5rem;
    margin-bottom: 3rem;
    box-shadow: 0 1rem 1rem -.5rem rgba( 0, 0, 0, 0.22);
}

.review__text {
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: justify;
    margin-bottom: 2rem;
}

.review__author {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review__name {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.review__company {
    color: var(--color-company);
    font-weight: 300;
    font-size: 1.4rem ;
}

.review__icon {
    font-size: 4rem;
    opacity: .5;
    color: var(--color-secondary);
}

/*  CLIENTES  */

.about__clients {
    width: 100%;
    margin-bottom: 5rem;
}

.clients__header {
    margin-bottom: 3rem;
}

.clients__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clients__link {
    display: block;
    width: 100%;
    opacity: 0.2;
    transition: all 0.3s ease-out;
}

.clients__link:hover {
    opacity: 2;
}

.clients__image {
    width: 12rem;
}

.prices__container {
    margin-bottom: 5rem;

    display: flex;
    flex-direction: row;
}

.prices__box {
    height: 100%;
    flex-basis: 33%;
    margin-right: 3rem;
    padding: 3rem;
    border: 2px solid var(--color-border-reviews);
    border-radius: 2rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.prices__box:hover {
    box-shadow: 0 18px 24px -5px rgba( 0, 0, 0, 0.2);
    transform: translateY(-10px);
}

.prices__subtitle {
    margin-bottom: 3rem;
}

.prices__text {
    position: relative;
    display:inline-block;
}

.prices__box:hover .prices__text::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -.3rem;
    height: 0.4rem;
    background-color: var(--color-secondary);
}

.prices__price {
    padding-bottom: 2rem;
}

.prices__number {
    font-size: 5rem;
    display: block;
    font-size: 4rem;
    line-height: 1;
    color: var(--color-titles)
}

.prices__advice {
    display: block;
    color: var(--color-subtitle)
}

.prices__buy {
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}

.prices__btn {
    display: inline-block;
    padding: 1.2rem 3.2rem;
    border: 2px solid var(--color-border-reviews);
    box-shadow: 0 1rem 1rem -8px var(--color-border-reviews);
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
}

.prices__btn:hover {
    border: 2px solid var(--color-secondary);
    background-color: var(--color-secondary);
    color: var(--color-principal);
}

.prices__reward {
    font-size: 1.4rem;
     
}

.extra__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.extra__info{
    flex-basis: 30%;
    padding: 2rem;
    border: 2px solid rgba( 0, 0, 0, 0.1);
    border-radius: 1rem;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.extra__info:hover {
    transform: translateY(-2rem);
    box-shadow: 0 1rem 1rem -.5rem rgba( 0, 0, 0, 0.2);
}   

.extra__icon{
    font-size: 4rem;
    color: var(--color-secondary);
}

.extra__subtitle {
    font-size: 1.5rem;
    margin: 1.5rem;
}

.extra__quantity {
    display: block;
    font-size: 4rem;
}

/*   CURRICULUM   */

.resume__container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* CURRICULUM PARTE IZQUIERDA*/

.resume__left {
    flex-basis: 58%;

}

.resume__timelines {
    margin-bottom: 5rem;
}

.timelines__timeline {
    position: relative;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;

}

.timeline__header{
    flex-basis: 30%;
    text-align: right;
    padding-right: 3rem;
}

.timeline__year{
    margin: 0.5rem 0;
    line-height: 2rem;
    font-size: 1.5rem;
}

.timeline__company{
    display: block;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--color-company)
}

.timeline__description{
    width: 70%;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
}

.timeline__title {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.timeline__text {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.timeline__divider {
    position: absolute;
    top:0;
    left: 30%;
    bottom: -20px;
    width:2px;
    background-color: var(--color-secondary);
    opacity: 0.4;
}

.timeline__divider::before {
    content: "";
    position: absolute;
    right:-10px;
    width: 20px;
    height: 20px;
    border-radius: 4rem;
    background-color: var(--color-secondary);

}




/* CURRICULUM PARTE DERECHA*/

.resume__right {
    flex-basis: 42€;
    padding: 0 1.5rem;
}

.resume__skills {
    width: 100%;
    margin-bottom: 3rem;
}

.skills__title {
    display: flex;
    justify-content: space-between;
}

.skills__text {
    font-size: 1.3rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
}

.skills__number {
    font-size: 1.1rem;
    line-height: 1.4rem;
    margin-bottom: 0.4rem;
    color: var(--color-subtitle);
}

.skills__progressbar {
    height: 1.3rem;
    border: 2px solid var(--color-secondary);
    border-radius: 1rem;
    background-color: var(--color-principal);
    margin-bottom: 1rem;
}

.skills__percentage {
    width:100%;
    height: 1rem;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-principal);
    
    
    border-radius: 1rem;
}

.skills__percentage--p1{width: 95%}
.skills__percentage--p2{width: 98%}
.skills__percentage--p3{width: 90%}
.skills__percentage--p4{width: 85%}
.skills__percentage--p5{width: 70%}
.skills__percentage--p6{width: 85%}
.skills__percentage--p7{width: 90%}
.skills__percentage--p8{width: 95%}

.knowledges__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.knowledges__option {
    font-size: 1.3rem  ;
    background-color: var(--color-secondary);
    border-radius: .4rem;
    color: var(--color-principal);
    margin:.2 rem;
    padding: 0.5rem
}

/* PORTFOLIO */

.portfolio__navbar {
    margin-bottom: 3rem;
}

.portfolio__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.portfolio__option {
    font-size: 1.4rem;
    opacity: 0.5;
}

.portfolio__option--active {
    opacity: 1;
    font-weight: bolder;
}

.portfolio__link{
    cursor:pointer;
    color: var(--color-text)
}

.portfolio__link:hover {
    color: var(--color-secondary);
    font-weight: bolder;
    text-shadow: 0 0 1px rgba( 0, 0, 0, 0.25);
}

.portfolio__gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery__item {
    position: relative;
    flex-basis: 32%;
    padding: 0.8rem;
    margin:0.5rem;
}

.gallery__container-image{
    overflow: hidden;
}

.gallery__image {
    height: 20rem;
    transition: all .3s ease-out;
}

.gallery__item:hover .gallery__image {
    transform: scale(4.5);
} 

.gallery__icon {
    opacity: 0;
    position:absolute;
    top:1.5rem;
    right:1.5rem;
    height: 3rem;
    width: 3rem;
    font-size: 1.6rem;
    text-align: center;
    line-height: 3rem;
    background-color: var(--color-principal);
    color: var(--color-secondary);
    transition: all 0.5s ease-in-out;
}

.gallery__category {
    opacity: 0;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    background-color: var(--color-principal);
    color: var(--color-text);
    transition: all .5s ease-in-out;
}
 
.gallery__item:hover .gallery__icon,
.gallery__item:hover .gallery__category {
    opacity: 1;
}


/* BLOG */

.blog__articles {
    margin-bottom: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.articles__article {    
    flex-basis: 50%;
    padding: 0 1.5rem 4rem 1.5rem;
}

.article__top {
    position: relative;
    overflow: hidden;
}

.article__category {
    position: absolute;
    top:1rem;
    left: 1rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: var(--color-principal);
    color: var(--color-text);
    z-index: 3;
}

.article__mask {
    width: 100%;
    height: 28rem;
    overflow: hidden;
}

.article__image {
    display: block;
    z-index:1;
    transition: all 0.4s ease-in-out;
}

.article__top:hover .article__image {
    transform: scale(1.4);
}

.article__logo {
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.article__top:hover .article__logo {
    opacity: 1;
    z-index: 4;
}

.article__icon {
    position: absolute;
    top: calc(50% - 2.2rem);
    left: calc(50% - 2.2rem);
    width: 4.4rem;
    font-size: 4.4rem;
    color:var(--color-principal);
}

.article__bottom {
    margin: 0;
    padding: 2.1rem;
    border: 0.2rem solid var(--color-border-reviews);
    border-top: 0;
    padding-top: 1.5rem;
}

.article__date {
    display: block;
    font-size: 1.1rem;
    line-height: 1.2rem;
    font-weight: 300;
    color: var(--color-subtitle);
}

.article__title {
    font-size: 1.8rem;
    margin-top: 1rem;
}

/*  CONTACTOS  */

.contact__container {
    display: flex;
    flex-direction: row;
}

.contact__info {
    flex-basis: 33%;
    padding: 0 2rem;
}

.form-header__subtitle{
    position: absolute;
    top: 10rem;
    margin-bottom: 3rem;
    font-size: 50px;
}
.contact__data {
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 2rem;
    padding: 1rem 1rem;
    font-size: 1rem;
    text-align: center;
    background-color: var(--color-background);
    border: 2px solid var(--color-border-reviews)
}

.contact__icon {
    font-size: 4rem;
    color: var(--color-secondary);
}

.contact__subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.contact__form-box {
    flex-basis: 66%;
    padding: 0 2rem;
}

.form__container {
    display: flex;
    flex-direction: row;
}

.form__left {
    flex-basis: 45%;
    margin-right: 2rem;
}

.form__group {
    position: relative;
    margin-bottom: 4rem;
}

.form__input {
    position:relative;
    width: 100%;
    display:block;
    border: 2px solid var(--color-border-reviews);
    border-radius: 1rem;
    font-size: 2.5rem;
    line-height: 3rem;
    padding: 2rem;
    outline: none;
    box-shadow: 0 2rem 2rem -1rem rgba( 0, 0, 0, 0.1);
    background-color: var(--color-transparent);
}

.form__input:focus{
    border: 2px solid var(--color-secondary);
}

.form__right {
    flex-basis: 50%;
    max-width: 50%;
    max-height: 100%;
}



.form__input--textarea {
    display: block;
    width: 30rem;
    height: 30rem;
    resize: none;
}

.form__label {
    position: absolute;
    top:2rem;
    left:2rem;
    z-index: 1;
    color: var(--color-company);
    transition: all .5s ease-out;
}

.form__input:focus~label,
.form__input:not(:placeholder-shown)~label {
    top: -2rem;
    left: 0;
    z-index: 1;
    font-size: 1.2rem;
    color:var(--color-secondary)
}

.form__input::-webkit-input-placeholder {
    color: transparent;
}

.form__button {
    padding: 1rem 3rem;
    font-size: 1.5rem;
    border: 2px solid var(--color-secondary);
    border-radius: 3rem;
    color: var(--color-titles);
    background-color: var(--color-principal);
    box-shadow: 0 1rem 1rem -.5rem rgba( 0, 0, 0, 0.22);
    transition: all .3s ease-in-out;
}

.form__button:hover {
    background-color: var(--color-secondary);
    color: var(--color-principal);
}





 



 
